$whiteColorB:rgba(255,255,255,1.0);
$whiteColorD:rgba(252,252,252,1.0);
$liteColor:rgba(245,244,249,1.0);
$blueColor:rgba(81,167,225,1.0);
$darkColor:rgba(151,159,162,1.0);
$blackColor:rgba(0,0,0,1.0);