* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}


@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: bold;
  src: local('Helvetica'), url(./fonts/HLB.ttf) format('truetype');
}

@font-face {
  font-family: 'Helvetica';
  font-style: italic;
  font-weight: bold;
  src: local('Helvetica'), url(./fonts/HLBI.ttf) format('truetype');
}

@font-face {
  font-family: 'Helvetica';
  font-style: italic;
  src: local('Helvetica'), url(./fonts/HLI.ttf) format('truetype');
}

@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica'), url(./fonts/HLR.ttf) format('truetype');
}


* {
  font-family: 'Helvetica';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}